<div class="container">
  <div class="menu" *ngIf="!player">
    <div class="button" (click)="startGame()">
      <a><span>Jogar</span></a>
    </div>
    <!-- <div class="button">
      <a><span>Compartilhar</span></a>
    </div> -->
  </div>

  <div class="termos" *ngIf="!player">
    Lembre-se de que o consentimento e o respeito mútuo são fundamentais em
    qualquer desafio ou atividade íntima. Certifique-se de que ambos estejam
    confortáveis e dispostos a participar das atividades propostas. Aproveite!
  </div>

  <div class="game-container" *ngIf="player">
    <div class="whos-turn">
      <h1>{{ player.name }}</h1>
    </div>

    <div class="game-content">
      <div class="card-type">{{ cardSelected.type }}</div>
      <div class="card-content">{{ cardSelected.content }}</div>
    </div>

    <div class="actions">
      <div class="button" (click)="next()">
        <a><span>Rodar Próximo</span></a>
      </div>

      <div class="button" (click)="exit()">
        <a><span>Sair</span></a>
      </div>
    </div>
  </div>
</div>
